# Gradle 관련
../.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# IDE 관련
.idea/
.vscode/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/

# 로그 파일
logs/
*.log

# 버전관리 제외
.git/
.gitignore

# 불필요한 문서
README.md

# 운영체제 파일
.DS_Store
Thumbs.db

.env